.food {
    position: absolute;
    background-color: #ff541c;
    width: 20px;
    height: 20px;
    display: none;
}

.bodypart {
    position: absolute;
    background-color: green;
    width: 20px;
    height: 20px;
    display: block;
}

.field {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 300px;
	width: 500px;
	border: 2px solid black;
}